{{>layout/header}}

	<h2>스프링 부트로 시작하는 웹 서비스</h2>
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6">
				<a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>

				
				<!-- userName 존재하는 경우 -->
				{{#LoginUserName}} 
					Logged in as: <span id="user">{{LoginUserName}}</span>
					<img src="{{LoginUserPicture}}" width=25px, height=25px />
					<a href="/logout" class="btn btn-info active" role="button">Logout</a>
					
				{{/LoginUserName}}
				
				<!-- userName 존재하지 않는 경우 -->
				{{^LoginUserName}} 
					<a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google</a>
				{{/LoginUserName}}
				
			</div>
		</div>
	</div>
	<br>
	<!-- 목록 출력 -->
	<table class="table table-horizontal table-bordered">
	<thead class="thead-strong">
		<tr>
			<th>게시글 번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>최종수정일</th>
		</tr>	
	</thead>	
	<tbody id="tbody">
	{{#posts}}
		<tr>
			<td>{{id}}</td>
			<!--
			<td>{{title}}</td>
			-->
			<td><a href="/posts/update/{{id}}">{{title}}</a></td>
			<td>{{author}}</td>
			<td>{{modifiedDate}}</td>
		</tr>
	{{/posts}}

	</tbody>
	</table>
			

{{>layout/footer}}
